@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
}

body {
  background: var(--background);
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}