/* app/globals.css */
@import "tailwindcss";

/* This tells Tailwind v4 to load your config file */
@config "../tailwind.config.js";

:root {
  --background: #020617;
}

body {
  background: var(--background);
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}